
<div id="application-chooser" *ngIf="!sunMarketVisible && !moonMarketVisible" >


  <div class="main text-center text-white bg-dark">

    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Angular Course Application</h3>
        </div>
      </div>
    </div>

  </div>

  <main class="dash-content">
    <div class="container-fluid">


      <div class="row dash-row center-content">

        <div class="stats stats-primary" id="app-chooser">
          <h3 class="stats-title"> Angular Sun Market</h3>
          <div class="stats-content">
            <div class="stats-icon">
              <img src="assets/img/ecommerce.original.jpg" >
            </div>
            <div class="stats-data">
              <button type="button" class="btn btn-outline-success  btn-lg btn-block mb-1" (click)="navigateToSunSite()">Go main page</button>
              <div class="stats-number">Angular app for Ecomerce</div>
            </div>
          </div>
        </div>


        <div class="stats stats-primary" id="app-chooser">
          <h3 class="stats-title"> Angular Moon Market </h3>
          <div class="stats-content">
            <div class="stats-icon">
              <img src="assets/img/online-shopping-supermarket.jpg">
            </div>
            <div class="stats-data">
              <button type="button" class="btn btn-outline-success  btn-lg btn-block mb-1" (click)="navigateToMoonSite()">Go main page</button>
              <div class="stats-number">Angular app for Supermarket</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </main>
</div>

<app-sun-market *ngIf="sunMarketVisible"></app-sun-market>

<app-moon-market *ngIf="moonMarketVisible"></app-moon-market>
