<div class="container-fluid" id="product-manager">

  <div class="row" style="margin-top: 15px">
    <div class="col-xl-12">
      <div class="card easion-card">
        <div class="card-header">
          <div class="easion-card-title">Shipping history transaction</div>
        </div>
        <div class="card-body ">
          <table class="table table-hover table-in-card">
            <thead>
            <tr>
              <th scope="col">Order Code</th>
              <th scope="col">Order Number</th>
              <th scope="col">Order Creation Date</th>
              <th scope="col">Status</th>
              <th scope="col">Customer Code</th>
              <th scope="col">Employee Code</th>
              <th scope="col">Total Price</th>
              <th scope="col">Card Type</th>
              <th scope="col">Payment Type</th>
              <th scope="col">Shipping Code</th>
              <th scope="col">Delivery Date</th>
              <th scope="col">Destination Name</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shipping of shippingTransactionList">
              <td>{{shipping.orderCode}}</td>
              <td>{{shipping.orderNumber}}</td>
              <td>{{shipping.creationDate}}</td>
              <td>{{shipping.status}}</td>
              <td class="row-table-link" (click)="onClickRowName('CustomerCode',shipping.customerCode)">{{shipping.customerCode}}</td>
              <td class="row-table-link" (click)="onClickRowName('EmployeeCode',shipping.employeeCode)"> {{shipping.employeeCode}} </td>
              <td>{{shipping.totalPrice}}</td>
              <td>{{shipping.cardType}}</td>
              <td>{{shipping.paymentType}}</td>
              <td>{{shipping.shippingCode}}</td>
              <td>{{shipping.deliveryDate}}</td>
              <td>{{shipping.destinationName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card easion-card">
        <div class="card-header">
          <button type="button" (click)="showMeMore()" [disabled]="hasMoreData()" class="btn btn-secondary btn-lg btn-block mb-1">Show more remain {{counter.rowRemain}}</button>
        </div>
      </div>


    </div>
  </div>

</div>

<!--//modal for employee detail-->
<panel-employee-detail [show-modal]="showEmployeeDetail" [employee-input]="rawEmployee"  (close-output)="closeModalDetail('EmployeeCode')"> </panel-employee-detail>


<!--//modal for customer detail-->
<panel-customer-detail [show-modal]="showCustomerDetail" [customer-input]="rawCustomer"  (close-output)="closeModalDetail('CustomerCode')"> </panel-customer-detail>


<!--//modal for error-->
<!--<panel-banner [show-modal]="activeErrorBanner" [banner-input]="error" (close-output)="closeModalBanner()"></panel-banner>-->
